
#===Units===#

[canBuild_T1]
name: isT-80,isT-34C
forceNano: true
pos: 1.1
isLocked: if self.customTimer < 420
isLockedMessage: Wait %{420 - self.customTimer} seconds
[canBuild_Super]

name: isBehemoth
isLocked: if self.customTimer < 1200
isLockedMessage: Wait %{1200 - self.customTimer} seconds
forceNano: true
pos: 1.3

[canBuild_artillery]
name: isСАУ-55
isLocked: if self.customTimer < 420
isLockedMessage: Wait %{420 - self.customTimer} seconds
forceNano: true
pos: 1.4

